html{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.input-field{
    outline: none; 
}
