{% extends 'base.html' %}
{% load static %}
{% block body %}
    <form class="input-form-div" method="POST"> 
        {% csrf_token %}
        <input type="text" name="entered-key" placeholder="Master Key" class="input-field">
        <input type="text" name="email" placeholder="email address" class="input-field">
        <input type="password" name="password" placeholder="password" class="input-field">
        <input type="text" placeholder="website name" name="website-name" class="input-field">
        <button class="submit-btn" type="submit">Submit</button> 
    </form> 

    <!--Password Suggestion-->
    <div class="password-suggestion-div">
        <button type="submit" name="suggest-password-btn" id="suggested-password-btn">Suggest Strong Password</button>
        <span id="suggested-password">{{recommended_password}}</span>
    </div>

    
    <script src="{% static 'suggest.js' %}"></script>   

{% endblock body %}



